@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main {
    background-color: white;
    color: #17171F;
  }
}

@layer components {
  .input-form {
    @apply mt-1 block w-full rounded-md border border-primary-davy-grey bg-gray-50 p-2 text-sm focus:outline-blue-500;
  }
}
/* Need to learn later*/
/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
